/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.model.media {
  margin-bottom: 15px;
  padding: 5px;
}

.model.media.active {
  background-color: lightyellow;
}

.model.media .google-images-link {
  display: none;
}

.model.media:hover .google-images-link,
.model.media:active .google-images-link,
.model.media:focus .google-images-link {
  display: inline;
}

.model-list,
.image-search-results {
  margin-top: 15px;
}

.model-list,
.model-list.col-xs-6 {
  margin-right: 0;
  padding-right: 0;
}

.image-search-results,
.image-search-results.col-xs-6 {
  background-color: lightyellow;
  margin-left: 0;
  padding-top: 15px;
}

.image-search-results .thumbnail {
  display: inline-block;
}

.model-info-summary {
  max-height: 10em;
  overflow: auto;
  overflow-x: visible;
  overflow-y: auto;
}